.Token {
  position: fixed;
  z-index: 999;
}

.Token::after {
  content: "";
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0.95;
  z-index: -1;
}

.Token .Token__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Token .search {
  margin: 0;
}
