:root {
  --color-light: #fafafa;
  --color-grey: #999999;
  background-color: #161616;
  color: var(--color-light);
  font-family: "Roboto", sans-serif;
}

:root * {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.style-bold-48-left-grey {
  font-weight: 700;
  font-size: 48px;
  text-align: left;
  color: var(--color-grey);
}

.style-bold-36-center-grey {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-grey);
}

.style-regular-24-left-light {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: var(--color-light);
}

.style-regular-18-left-white {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #fff;
}

.style-regular-18-center-light {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--color-light);
}

.style-regular-18-right-grey {
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: var(--color-grey);
}

.style-regular-18-left-grey {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: var(--color-grey);
}

.style-regular-18-left-light {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: var(--color-light);
}

.style-regular-16-left-light {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: var(--color-light);
}

.style-regular-14-center-grey {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-grey);
}

.style-regular-14-center-light {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-light);
}
